
<h1>Hike Stream</h1>

<form ng-submit="startSession()" name="phoneNumber">
  <input type="text" ng-model="phoneNumberInput" class="" autocomplete="off" placeholder="format: 3034567899" required>
  <button ng-disabled="phoneNumber.$invalid" class="btn btn-warning">Join the Trail</button>
</form>
<br>

<div class="stream-box">
  <div class="message-box">
    <ul id="stream-board" class="stripes"></ul>
  </div>

  <form ng-submit="makeComment()" name="comment">
    <input type="text" ng-model="commentInput" class="comment-input" autocomplete="off" required>
    <button ng-disabled="comment.$invalid" class="btn btn-default">Send</button>
  </form>
</div>

<br>
<div class="current-user-box">
  <h4 class="center">current users</h4>
  <ul id="current-users"></ul>
</div>
