
<!-- set timeout for message disapper -->
<div class="alert alert-warning" role="alert" class="error-message" ng-model="errorMessage"></div>

<p class="lead">Enter your phone number to start posting on the trail!</p>
<form ng-submit="startSession()" name="userInfo">
  <label>Phone Number:&nbsp;&nbsp;</label>
  <input type="text" ng-model="phoneNumberInput" class="" autocomplete="off" placeholder="eg: 3034567899" required>
  <label>Username:&nbsp;&nbsp;</label>
  <input type="text" ng-model="userNameInput" class="" autocomplete="on" placeholder="please be nice" required>
  <button ng-disabled="userInfo.$invalid" class="btn btn-warning">Join the Trail</button>
</form>
<br>


<div class="row">
  <div class="col-sm-12 col-md-8">
    <map-display></map-display>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2>Comment Stream</h2>
    <div class="stream-box">
      <div class="message-box">
        <ul id="stream-board" class="stripes">
          <li class="" ng-repeat="comment in hikeComments">{{comment.user[0].username}}: {{comment.message}}</li>
        </ul>
      </div>
      <!-- upload image go here -->
      <form ng-submit="makeComment()" name="comment">
        <input type="text" ng-model="commentInput" class="comment-input" autocomplete="off" required>
        <button ng-disabled="comment.$invalid" class="btn btn-default">Send</button>
      </form>
    </div>
  </div>
</div>
