
<!-- set timeout for message disapper -->
<div class="alert alert-warning" role="alert" class="error-message" ng-model="errorMessage"></div>

<p class="lead">Enter your phone number to start posting on the trail!</p>
<form ng-submit="startSession()" name="userInfo">
  <label>Phone Number:&nbsp;&nbsp;</label>
  <input type="text" ng-model="phoneNumberInput" class="" autocomplete="off" placeholder="eg: 3034567899" required>
  <label>Username:&nbsp;&nbsp;</label>
  <input type="text" ng-model="userNameInput" class="" autocomplete="on" placeholder="please be nice" required>
  <button ng-disabled="userInfo.$invalid" class="btn btn-warning">Join the Trail</button>
</form>
<br>


<div class="row">
  <div class="col-sm-12 col-md-8">
    <h2>Map Display</h2>
      <div class="map">
        <ng-map center="{{coordinates.latitude}},{{coordinates.longitude}}" zoom="17">

          <!-- current stream comment markers, for real time display -->
          <marker ng-repeat="info in mapMarkers" id="{{info.id}}" position="{{info.location[0]}},{{info.location[1]}}"
          on-click="map.showInfoWindow('{{info.windowId}}')" animation="Animation.DROP">
          </marker>
          <info-window ng-repeat="info in mapMarkers" id="{{info.windowId}}" visible-on-marker="{{info.id}}">
            <div ng-non-bindable>
              <div id="siteNotice"></div>
              <h3 id="firstHeading" class="firstHeading">{{info.user.username}}</h3>
              <div id="bodyContent">
                <p>{{info.message}}</p>
              </div>
            </div>
          </info-window>

          <!-- all hike stream comment markers, for persistence -->
          <marker ng-repeat="comment in hikeComments" id="{{comment._id}}" position="{{comment.location[0]}},{{comment.location[1]}}"
          on-click="map.showcommentWindow('{{comment.user._id}}')">
          </marker animation="Animation.DROP">
          <info-window ng-repeat="comment in hikeComments" id="{{comment.user._id}}" visible-on-marker="{{comment._id}}">
            <div ng-non-bindable>
              <div id="siteNotice"></div>
              <h3 id="firstHeading" class="firstHeading">{{comment.user[0].username}}</h3>
              <div id="bodyContent">
                <p>{{comment.message}}</p>
              </div>
            </div>
          </info-window>
        </ng-map>
      </div>
  </div>
  <div class="col-sm-12 col-md-4">
    <h2>Stream Board</h2>
    <div class="stream-box">
      <div class="message-box">
        <ul id="stream-board" class="stripes">
          <li class="" ng-repeat="comment in hikeComments">{{comment.user[0].username}}: {{comment.message}}</li>
        </ul>
      </div>
      <!-- upload image go here -->
      <form ng-submit="makeComment()" name="comment">
        <input type="text" ng-model="commentInput" class="comment-input" autocomplete="off" required>
        <button ng-disabled="comment.$invalid" class="btn btn-default">Send</button>
      </form>
    </div>
  </div>
</div>
