<br>
<h1 class="col-xs-12 col-md-8 col-md-offset-2 text-center section-padding">{{hikeName}}</h1>

<!-- IMAGES -->
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators - make dynamic -->
  <ol class="carousel-indicators">
    <li data-target="carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="carousel-example-generic" data-slide-to="1"></li>
    <li data-target="carousel-example-generic" data-slide-to="2"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item" ng-repeat="image in images" ng-if="$index > 0" ng-class="{active:$index === 1}">
      <img ng-src="{{image}}" class="img-responsive" alt="image">
      <div class="carousel-caption">
      </div>
    </div>
  </div>

  <!-- Controls -->
  <span class="left carousel-control" data-target="#carousel-example-generic" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </span>
  <span class="right carousel-control" data-target="#carousel-example-generic" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </span>
</div>


<!-- VISUAL DATA -->
<div class="row">
  <div class="data col-md-8 col-md-offset-2 col-sm-12 section-padding">
    <div class="col-xs-4 col-md-4">
      <img ng-src="https://placehold.it/450x450" class="img-responsive" alt="Logo">
      <h4 class="text-center">duration</h4>
    </div>
    <div class="col-xs-4 col-md-4">
      <img ng-src="https://placehold.it/450x450" class="img-responsive" alt="Logo">
      <h4 class="text-center">elevation</h4>
    </div>
    <div class="col-xs-4 col-md-4">
      <img ng-src="https://placehold.it/450x450" class="img-responsive" alt="Logo">
      <h4 class="text-center">features</h4>
    </div>
  </div>
</div>

<!-- INFO -->
<div class="info col-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="">Hike Info</h1><br>
          <!-- <h2 class="">weather jazz</h2><br> -->
          <p class="">{{info}}</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>

<!-- MAP -->
<div class="geo col-lg-12">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
          <h1 class="">Geo Share</h1>
          <p class="">Sometimes, you want to share what's going on on the trail, while on the trail. Sync your comments to other viewers in real time using Geo Share.</p>
          <p>Find {{hikeName}}'s Geo Share <a ng-href="#/geo/share/{{hikeId}}/{{hikeName}}">here</a>.</p>
      </div>
    </div><!-- /.row -->
  </div><!-- /.container -->
</div>
