<h1 class="col-xs-12 col-md-8 col-md-offset-2 text-center section-padding">All Hikes</h1><br>

<div class="col-xs-12 col-md-8 col-md-offset-2">
  <div class="row section-padding images">
    <div class="col-xs-4 col-md-4">
      <img ng-src="https://placehold.it/450x450" class="img-responsive" alt="Logo">
    </div>
    <div class="col-xs-4 col-md-4">
      <img ng-src="https://placehold.it/450x450" class="img-responsive" alt="Logo">
    </div>
    <div class="col-xs-4 col-md-4">
      <img ng-src="https://placehold.it/450x450" class="img-responsive" alt="Logo">
    </div>
  </div>
</div>

