
body {
  margin-top: 50px; /* Required margin for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.alert {
  display: none;
}

.text-center {
  text-align: center;
}

.bold {
  font-style: bold;
}

.image-bg-fluid-height,
.image-bg-fixed-height {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.image-bg-fluid-height {
  background: url('https://upload.wikimedia.org/wikipedia/commons/c/c5/Moraine_Lake_17092005.jpg') no-repeat center center scroll;
  padding: 100px 0;
}

.image-bg-fixed-height {
  background: url('http://www.hdwallpapers.in/walls/blue_mountains_dual_monitor-other.jpg') no-repeat center center scroll;
  height: 450px;
}

.img-center {
  margin: 0 auto;
}

section {
  padding: 75px 0;
}

.section-heading {
  margin: 30px 0;
  font-size: 4em;
  p {
    margin: 30px 0;
  }
}

footer {
  margin: 50px 0;
}

@media(max-width:768px) {
  section {
    padding-top: 25px;
    padding-bottom: 25px;
  }

  .section-heading {
    font-size: 2em;
  }
}

.section-padding {
  padding: 30px;
}

h4 {
  font-variant: small-caps;
}

// .info {
//   margin-top: 10em;
//   padding: 5%;
//   height: 40em;
//   width:  100%;
//   background-color: #808080;
// }

.geo {
  padding: 5%;
}

.block-section {
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  background: #ccc;
  padding: 20px;
}

.block-bar {
  color: white;
  position: relative;
  background: black;
  height: 7%;
}

.block-bar:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -9999px;
  right: 0;
  border-left: 9999px solid black;
  box-shadow: 9999px 0 0 black;
}

.stream-box {
  width: 90%;
  height: 300px;
  // border-left: 2px solid black;
  // background-color: #ccc;
}

.comment-input{
  height: 50px;
  width: 80%;
  margin-left: 1%;
  border: 1px solid grey;
}

.comment-input:active,
.comment-input:focus{
  outline: none;

}

.message-box {
  height: 90%;
  overflow-y: auto;

  ul {
    padding-left: 0;
    list-style: none;
  }
}

.center {
  text-align: center;
}

.centered {
  display: table;
  margin: auto;
}

.stripes li:nth-child(odd) {
  background: white;

}

.chat-bubble {
  border-radius: 5px;
  display: inline-block;
  padding: 10px 18px;
  position: relative;
  margin: 10px;
  max-width: 80%;
  background-color: #e6e5eb;
}

.chat-bubble:before {
  content: "\00a0";
  display: block;
  height: 16px;
  width: 9px;
  position: absolute;
  bottom: -7.5px;

}


.chat-bubble.left:before {
  background-color: #e6e5eb;
  left: 10px;
  -webkit-transform: rotate(70deg) skew(5deg);
}

.chat-bubble.right {
  background-color: #158ffe;
  color: #fff;
  float: right;
  margin-right: 55px;
}

.chat-bubble.right:before {
  background-color: #158ffe;
  right: 10px;
  -webkit-transform: rotate(118deg) skew(-5deg);
}

img {
  max-width:300px;
}
